<%- include('parts/html-head') %> 
<%- include('parts/navbar') %> 
 <!--相對路徑 %= 為html 的跳脫， %- 為html 的引入  -->

 <div class="container">
    <h2> hi <%= name %> </h2>
 </div>


<%- include('parts/scripts') %> 
<%- include('parts/html-foot') %> 

