<%- include('parts/html-head') %> 
<%- include('parts/navbar') %> 
 <!--相對路徑 %= 為html 的跳脫， %- 為html 的引入  -->

<div class="container">
    <div class="row">

        <form method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
              <%= if(typeof email !== 'undefined'){ %>  
                <div class="form-text"><%= email %></div>
                <%= } %> 
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password">
              <!-- 未設定if之前，undefined會被視為錯誤；locals 樣板內本來就有的物件？？ -->
              <%= if(locals.password){ %>  
                <div class="form-text"><%= password %></div>
                <%= } %> 

            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
</div>


<%- include('parts/scripts') %> 
<%- include('parts/html-foot') %> 

